@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header img {
  height: 50px;
}
header ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}
header li {
  line-height: 76px;
}
header li a {
  display: inline-block;
  margin: 0px 15px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.8rem;
  color: #4b4949;
  text-transform: uppercase;
}
header li a.active {
  border-bottom: 4px solid #0c7cec;
  border-style: calc(100% - 5px);
  color: #0c7cec;
}
header li a:hover {
  color: #0b6fd4;
  border-bottom: 4px solid #0c7cec;
}

#jumbotron {
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("../images/jumbotron.jpg");
}

#main-block {
  background-color: black;
}

#main-wrapper {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.comic-item {
  flex-basis: calc(16.6666666667% - 24px);
  margin: 6px;
  min-width: 100px;
}
.comic-item img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 10px;
  flex-shrink: 2;
}
.comic-item h4 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
}
.comic-item a {
  text-decoration: none;
}

#main-wrapper {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 0;
}

.product-nav {
  font-size: 2rem;
  color: black;
}

.product-prev {
  position: absolute;
  left: 20%;
  top: 50%;
}

.product-next {
  position: absolute;
  right: 70%;
  top: 50%;
}

#comic-wrapper {
  margin-top: 150px;
  font-family: "Roboto";
}
#comic-wrapper h2 {
  color: #151549;
  font-weight: 400;
  font-size: 1.7rem;
}
#comic-wrapper .shop-detail {
  display: flex;
  height: 40px;
  margin: 15px 0;
  background-color: #2fbd47;
  align-items: stretch;
  color: white;
}
#comic-wrapper .shop-detail #comic-price {
  padding: 0px 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}
#comic-wrapper .shop-detail #avaiable-check {
  padding: 0px 15px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex-grow: 1;
  text-align: right;
  vertical-align: middle;
  line-height: 40px;
}
#comic-wrapper .shop-detail #avaiable-btn {
  padding: 0px 15px;
  background: none;
  outline: none;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "roboto";
  font-size: 15px;
  text-decoration: none;
}
#comic-wrapper .shop-detail span {
  color: rgba(255, 255, 255, 0.479);
}
#comic-wrapper .img-comic {
  border: 4px solid white;
  position: absolute;
  top: 150px;
}
#comic-wrapper p {
  color: gray;
  margin-bottom: 20px;
}
#comic-wrapper #adv-section {
  float: right;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}